@media only screen and (min-width: 64em) {
    img {
        width: 200px;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.5 em;
    }

    p {
        font-size: 1.5 em;
    }
}