@media only screen and (min-width:32.5em){

/* html selectors */
h1 {
    text-align: center;
}

/* class selectors */

.navigation li:first-child {
    display: none;
}

.navigation li {
    display: block;
}

.responsive li {
    display: none;
}

/* id selectors */

    #map {
    display: block;
}
    #forecast {
        display: block;
    }

}