body {
    font-family: 'Raleway', sans-serif;
}

footer {
    background-color: #eac9c1;
    color: white;
    text-align: center;
    padding: 6px;
}

img {
    width: 1280px;
    height: 250px;
}

header {
    text-align: center;
}

li {
    float: left;
    margin: 10px 5px;
    list-style: none;
}

li a{
    text-decoration: none;
    color: white;
    
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 3px solid #eac9c1;
    background-color: #eac9c1;
}

.navigation li:first-child {
    display: block;
}

.logo {
    align-content: center;
}

.responsive li {
    display: block;
}

.temple {
    width: 300px;
}

.top-right-section .top-left-section {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

{
}

.bottom-left-section {
}

.bottom-right-section {

}


#contactus {
    text-align: center;
    font-size: 3em;
}


@media only screen and (min-width:32.5em){}

@media only screen and (min-width: 65em){}