@media only screen and (min-width:32.5em){

/* html selectors */
a:hover {
color: black;
}

.button, li {
    display: block;
    padding: 10px;
}
nav, tr, footer section {
    font-family: 'Raleway', sans-serif;

}


h1, h2 {
    font-family: 'Yeseva One', cursive;
}

iframe {
    width: 25%;
    height: 100%;
}


/* class selectors */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.navigation li:first-child {
    display: none;
}

.navigation li {
    display: block;
}

.responsive li {
    display: none;
}

/* id selectors */

    #map {
    display: block;
    text-align: center;
    padding: 10px;
    }

}