/* html selectors */

article {
    border: 3px solid #a6dbd7;
    border-radius: 10px;
    background-color: #a6dbd7;
    text-align: center;
    margin: 2em;
}

div{
    font-family: 'Raleway', sans-serif;
}


form{
    max-width: 500px;
    margin: 0 auto;
}

img {
    width: 20em;
}

label {
    display: inline-block;
    min-width: 100px;
    padding: 10px;
}

h2{
    font-size: 3em;
    text-align: center;
}

h3 {
    text-align: center;
}

header{
  text-align: center;
}

li {
    float: left;
    margin: 10px 5px;
    list-style: none;
}

li a{
    text-decoration: none;
    color: white;
    
}

footer{
    background-color: #a6dbd7;
    text-align: center;
    margin: 0px;
    padding: 8px;
}


main {
    display: grid;
    grid-template-columns: 1fr;
}

section, footer {
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    margin: 4px;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
  }

table, th, td {
border: 2px solid black;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 3px solid #ff6b6b;
    background-color: #ff6b6b;
}

/* class selectors */
.align-top{
    vertical-align: top;
    padding: 0;
}

.hero {
    width: 100%;
    height: 250px;

}

.logo {
    align-content: center;
}
.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

.tornado {
    width: 28%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

/* id selectors */

#forecast {
    display: none;
}

#map {
    width: 100%;
    text-align: center;
    border: 0px;
}

#paragraph, p {
    text-align: center;
}

#currentDate {
    text-align: center;
}

#weatherSummary {
    color: white;
    background-color: #ff6b6b;
    padding: 13px;
    max-width: 200px;
    position: absolute;
    top: 55%;
    right:30%;
    border: solid 1px navy;
    opacity: 70%;
}
