section {
    float: left;
    width: 27%;
    margin: 1.6%;
    color: #ffffff;
    background-color: #7ccbdf88;
    border-radius: 20px;
    padding: 20px;
}

img {
    border: solid rgba(163, 58, 84, 0.795) 10px;
}