@import url('https://fonts.googleapis.com/css?family=Lora|Raleway&display=swap');

.banner-box img { 
    width:100%; 
    height: auto;
 }

body {
    width: 960px;
    background-color: #fff5e8;
    color: #6a7a77;
    margin: 0 auto;
    padding: 0;
	font-size: 16px;
}

footer{
    padding: 10px;
    margin: 10px;
    background-color: #6a7a77;
    color: white;
}

h1, h2, h3, h4 {
    font-family: 'Lora', serif;
}

header {
	background-color: #fff5e8;
	padding: 5px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

header img {
	width: 125px;
	height: auto;
}

.heading {
	display: flex;
    flex-direction: column;
    background-color: #fff5e8;
}

.heading h1 {
	font-size: 2rem;
    color: #4f3537;
	margin: 0;
}

.home-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.home-headline-1 { 
    grid-column: 1 / 4; 
    grid-row: 1 / 2; 
  }

  .home-paragraph-1 {
      grid-column: 1 / 4;
      grid-row: 2 / 2 ;
  }

  .home-right-img {
      grid-column: 4 / 4;
      grid-row: 2 / 2;
      width: 20px;
  }

  .home-headline-2 {
      grid-column: 4 / 4;
      grid-row: 3 / 4;

  }

  .home-paragraph-2{
      grid-column: 4 / 4;
      grid-row: 3 / 4;
    
  }

  .home-left-img {
      grid-column: 1 / 4;
      grid-row: 3 / 4;
  }

  .home-paragraph-3{
      grid-column: 2 / 4;
      grid-row: 4 / 4;
      width: 100%;
  }


.motto {
	color: #6a7a77;
	font-size: 1rem;
	letter-spacing: 1.2pt;
}


nav {
    background-color: #6a7a77;
    color: #fff5e8;
    padding: .4px;
}

#mainMenu {
margin: 10px;
width: 900px;
background-color: #6a7a77;

}

#mainMenu li {
display: block;
width: 120px;
float: left;
margin-left: 2px;



}

#mainMenu a {
    display:block;
    padding: 3px;
    text-decoration: none;
    color: #4f3537;
}

#mainMenu a:hover{
    color: white;
}

.plainBackground{
    background-color: #fff5e8;
    color: #4f3537;
}


p, li {
    font-family: 'Raleway', sans-serif;
}

ul {
list-style: none;
}


section{
    background-color: #4f3537;
    color: #fff5e8;
    padding: 10px;
}

.logo-image{ 
    width: 45%;
}
.social-image {
    width: 2%;
    float: right;
    padding: 3px;

}