@import url('https://fonts.googleapis.com/css?family=Lora|Raleway&display=swap');

body{
    background-color: #FFF5E8;
}

h1, h2, h3, h4 {
    font-family: 'Lora', serif;
    color: #EA963C;
}

p, .signature{
    font-family: 'Raleway', sans-serif;
    color: #6A7A77;
}

nav {
    background-color: #ffb2b2;
}

li {
    padding: 2px;
    font-family: 'Raleway', sans-serif;
    color: #fff5e8;
    list-style: none;
}

li a:link {
    color: #fff5e8;
    text-decoration: none;
}

li a:hover {
    color: #fff5e8;
    text-decoration: underline;
}

li a:active {
    color: #6A7A77;
    text-decoration: none;
}

li a:visited {
    color: #6A7A77;
    text-decoration: none;
}