article {
border: 2px solid red;
margin: 30px;
text-align: center;
}

img {
    width: 18em;
}

/* id selectors */

@media only screen and (min-width:32.5em){
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (min-width: 60em){
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}