@import url('https://fonts.googleapis.com/css?family=Lora|Raleway&display=swap');
/* main  things */
body {
    width: 960px;
    background-color: #fcf8ef;
    margin: 0 auto;
    padding: 0;
	font-size: 16px;
}

footer{
    padding: 10px;
    margin: auto;
    background-color: #ff6542a2;
    color: #fcf8ef;
    font-family: 'Raleway', sans-serif;
    
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
    color: #ff6442;
}

header {
	background-color: #fcf8ef;
	padding: 5px 0;
    margin-left: 51px;
    margin-bottom: 10px;
}

header img {
	width: 125px;
	height: auto;
}

.heading {
	display: flex;
    flex-direction: column;
    background-color: #fcf8ef;
}

.heading h1 {
	font-size: 2rem;
    color: #ff6442;
	margin: 0;
}


.motto {
	color:#ff6442;
	font-size: 1rem;
	letter-spacing: 1.2pt;
}


nav {
    background-color: #ff96ed;
    padding: .4px;
    height: 100%;
}

#mainMenu {
margin: 1px;
width: 100%;
background-color: #ff96ed;

}

#mainMenu li {
display: block;
width: 120px;
text-align: center;
float: left;
margin-left: -30px;
}

#mainMenu a {
    display:block;
    text-decoration: none;
    color: #ff96ed;
}

#mainMenu a:hover{
    color: #ff6442;
}

footer a {
    color: #fcf8ef;
}

.booklet-link a {  
    color: #fcf8ef
}
p, li {
    font-family: 'Raleway', sans-serif;
}

ul {
list-style: none;
}

/*home page */

.banner-box img { 
    width:100%; 
    height: auto;
 }


.social-image {
    width: 2%;
    float: right;
    padding: 3px;

}

/* photo gallery */

.photogallery{
	width: 30%;
	float: left;
	margin: 1.66%;
}

.gallerybio{
    width: 94%;
}

p {
    font-size: 1.3em;
    padding: 30px;
    margin-top: 30px;
    background-color: rgba(255, 150, 237, 0.521);
    color: #fcf8ef
}


/* design page */

.design-images{
    width: 400px;
    position: relative;
    left: 500px;
    bottom: 150px;
}

.design-headline-1{
    margin-top: 30px;
    margin-left: 45px;
}

.design-headline-2{
    margin-top: 30px;
    margin-left: 45px;
}

.design-headline-3{
    margin-top: 30px;
    margin-left: 45px;
}

.design-paragraph-1{
    width: 30%;
    font-size: 1em;
    margin-left: 45px;
}

.design-paragraph-2{
    width: 30%;
    font-size: 1em;
    margin-left: 45px;
}

.design-paragraph-3{
    width: 30%;
    font-size: 1em;
    margin-left: 45px;
}



 
