@import url('https://fonts.googleapis.com/css?family=Lora|Raleway&display=swap');
/* main  things */
body {
    width: 960px;
    background-color: #fcf8ef;
    margin: 0 auto;
    padding: 0;
	font-size: 16px;
}

footer{
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    background-color: #ff6542a2;
    color: #fcf8ef;
    font-family: 'Raleway', sans-serif;
    
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
    color: #ff6442;
}

header {
	background-color: #fcf8ef;
	padding: 5px 0;
    margin-left: 51px;
    margin-bottom: 10px;
}

header img {
	width: 125px;
	height: auto;
}

.heading {
	display: flex;
    flex-direction: column;
    background-color: #fcf8ef;
}

.heading h1 {
	font-size: 2rem;
    color: #ff6442;
	margin: 0;
}


.motto {
	color:#ff6442;
	font-size: 1rem;
	letter-spacing: 1.2pt;
}


nav {
    background-color: #ff96ed;
    padding: .4px;
    height: 100%;
}

#mainMenu {
margin: 1px;
width: 100%;
background-color: #ff96ed;

}

#mainMenu li {
display: block;
width: 130px;
text-align: center;
float: left;
margin-left: -30px;
}

#mainMenu a {
    display:block;
    text-decoration: none;
    color: #ff96ed;
}

#mainMenu a:hover{
    color: #ff6442;
}

footer a {
    color: #fcf8ef;
}

.booklet-link a {  
    color: #fcf8ef
}
p, li {
    font-family: 'Raleway', sans-serif;
}

ul {
list-style: none;
}

/*home page */

.banner-box img { 
    width:30%;
    position: relative;
    top: 75px;
    left: 200px;
    z-index: 1;
}

.home{
    width: 50%;
    position: relative;
    bottom: 400px;
}

.about-description{
    padding: 40px;
}


/* photo gallery */

.photogallery{
	width: 30%;
	float: left;
	margin: 1.66%;
}

.gallerybio{
    width: 94%;
}

p {
    font-size: 1.3em;
    padding: 30px;
    margin-top: 30px;
    background-color: rgba(255, 150, 237, 0.521);
    color: #fcf8ef
}


/* design page */

.design-images{
    width: 400px;
    position: relative;
    left: 500px;
    bottom: 150px;
}

.design-headline-1{
    margin-top: 30px;
    margin-left: 45px;
}

.design-headline-2{
    margin-top: 30px;
    margin-left: 45px;
}

.design-headline-3{
    margin-top: 30px;
    margin-left: 45px;
}

.design-paragraph-1{
    width: 30%;
    font-size: 1em;
    margin-left: 45px;
}

.design-paragraph-2{
    width: 30%;
    font-size: 1em;
    margin-left: 45px;
}

.design-paragraph-3{
    width: 30%;
    font-size: 1em;
    margin-left: 45px;
}


/* forms */

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  form{
      margin-top: 3em;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: left;
  }
  
  input, 
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus, 
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
  }

  #feedback { 
    text-align: center;
    padding: 15px; /* add styling and layout properties of your own design here as needed */
    display: none; /* we will make the element invisible until the form is submitted successfully */
   }


   .social-media-heading{
       text-align: center;
       margin-top: 2.5em;
   }



 
