@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Slabo+27px&display=swap');

$color-1: #b1cdd1; //light blue
$color-2: #547884; //teal
$color-3: #334a6d; //blue
$color-4: #1a2842; //navy blue
$color-5: #13111e; //dark blue

$body-copy: 'Slabo 27px', sans-serif;
$heading: 'Abril Fatface', serif;

html,body{
    margin: 0;
    padding: 0;
}

p, h1, h2, h3{
    padding-left: 6px;
    padding-right: 6px;
}

h1{
    font-size: 2.6em;
    text-align: center;
    font-family: $heading;
}

h2 {
    font-size: 1.5em;
    text-align: center;
    font-family: $heading;
}

h3{
font-size: 1.2em;
font-family: $heading;
}

p, a{
    font-family: $body-copy;
}

.summary{
    text-align: center;
}

.explanation{
    background-color: $color-1;
    padding-top: 3px;
    padding-bottom: 3px;
}

.benefits{
    background-color: $color-2;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}


@media only screen and (min-width: 200px) {
    
    #zen-explanation{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-start: 2;
    }



}